
body{
  margin: 0;
  background-image:url('https://assets.puzzlefactory.pl/puzzle/382/699/original.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;

  
}
h2{
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
  font-family: Roboto sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255)
}
  
.weather-card{
  background-color: #1e4ca0;
  width: 800px;
  height: 480px;
  margin: 280px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  opacity: 78%;
}
.weather-location{
  display: flex;
  margin: 3px 20px;
  
}

.weather-location p{
  font-family: Lato sans-serif;
  font-size: 20px;
  color:white;
  font-weight: bolder;
}
.weather-info{
  display: flex;
  gap:25px;
}
.weather-icon{
  width: 200px;
  height: 200px; 
  margin-left: 20px;

}
.weather-icon img{
  width: 200px;
  height: 200px;
}
.weather-info-temp{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.weather-temperature{
  width: 300px;
  height: 100px;
  color: white;
  font-size: 85px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  
}
.weather-temperature span{
  font-size: 45px;
  position: relative;
  top:12px;
  
}
.weather-sensation{
  display: flex;
  font-family: lato sans-serif;
  font-size: 28px;
  color: white;
 

}
.weather-principal-info{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  color: white;
  font-size: 22px;
  margin-top: 2px;
}
.img_info{
  width: 40px;
  height: 40px; 
  align-self: center;
}
.weather-principal-info span{
text-align: center;
color: rgb(255, 255, 255);
}
.weather-speed{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  
}
.weather-clouds{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.weather-pressure{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.weather-vis{
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.button-degree{
 width: 200px;
 height: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.weather-button{
  width: 140px;
  height: 40px;
  background-color: #071d46;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto sans-serif;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  
  
}
.loading-page{
  width: 100%;
  height: 100vh;
  background-color: #174257;
  color: white;
  text-align: center;
  font-size: 30px;
  margin:0 auto;
 
}

.weather-description{
  display: flex;
  font-family: lato sans-serif;
  font-size: 20px;
  color: white;
 
}
